@{
    Layout = null;
}
@model MVC.Models.AccountModels.UserLoginViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/AuthoriazedErrors.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="@Url.Content("~/css/registration-login-menu.css")" rel="stylesheet" type="text/css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div class="container container1" style="height: 500px;">
        
        <div class="heading">
            <h1 style="color: #fff">Вход</h1>
        </div>

        <div class="user-data-form">

            <form asp-controller="Account" class="form" method="post" asp-action="Login">

                <div class="text-danger validation-warning">
                    <div asp-validation-summary="All"></div>
                </div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Почта</label>
                    <input asp-for="Email" type="email" class="form-control input" placeholder="name@example.com">
                </div>

                @if (Model is not null)
                {
                    <input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl" />
                }

                <div class="mb-3">
                    <label asp-for="Password" class="col-form-label">Пароль</label>
                    <input asp-for="Password" type="password" class="form-control input" aria-labelledby="passwordHelpInline">
                </div>

                <div class="custom-btn">
                    <button class="custom-button-2 custom-button-3" type="submit">Войти</button>
                </div>
                
                <div class="custom-btn">
                    <a class="custom-button-2 custom-button-3" type="buttom" asp-controller="Account" asp-action="Registration" method="get">Регистрация</a>
                </div>

                <div class=" custom-btn">
                    <a type="buttom" asp-controller="Article" asp-action="GetArticlesByPage" method="get">На Главную</a>
                </div>

            </form>
        </div>
    </div>
</body>
</html>
