@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model UserRegistrationViewModel;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/AuthoriazedErrors.css" asp-append-version="true" />
</head>
<body>
    <form asp-controller="Account" method="post" asp-action="Registration">

    <div>
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Name">Имя</label><br/>
            <input asp-for="Name"></input>
        </div>

        <div>
            <label asp-for="Email">Почта</label><br/>
            <input asp-for="Email"></input>
        </div>

        <div>
            <label asp-for="Password">Пароль</label><br/>
            <input asp-for="Password"></input>
        </div>

        <div>
            <label asp-for="ConfirmPassword">Подтверждение пароля</label><br/>
            <input asp-for="ConfirmPassword"></input>
        </div>
    </div>
    <button type="submit">Зарегистрироваться</button>
</form>

<div>
        <a type="buttom" asp-controller="Account" asp-action="Login" method="get">Вход</a>
</div>

@section scripts{
 
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
</body>
</html>