.buttom {
    display: block;
    width: 100%;
    height: 100%;
    background: #1e1c1c;
    padding-left: 13px;
    color: white;
    font-weight: bold;
    line-height: 33px;
    text-decoration: none;
    transition: 0.1s linear;
}

.buttom:hover {
    color: #ffe81a; /* Цвет текста */
    background: #3b3939; /* Цвет фона */
}

.custom-button {
    width: 15rem;
    display: inline-block;
    margin-bottom: 15px
}

.custom-button-2 {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #1e1c1c;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-button-3 {
    color: #fff;
    background-color: #1e1c1c;
    border-color: #3b3939;
}

    .custom-button-3:hover {
        color: #ffe81a;
        background-color: #3b3939;
    }
.HelperBlockbuttom:hover {
    color: #ffe81a; /* Цвет текста */
}