
body {
    display: grid;
    grid-template-areas:
        "nav header"
        "nav article"
        "footer article";
    grid-template-rows: 120px 100%;
    grid-template-columns: 20% 77%;
    background-color: #dc3545;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
}

header, footer, article, nav, div {
    padding: 20px;

}

#pageHeader {
    grid-area: header;
}

#pageFooter {
    grid-area: footer;
}

#mainArticle {
    grid-area: article;
}

#mainNav {
    grid-area: nav;
}

.menu {
    background: #1e1c1c; /* Цвет фона */
    padding: 2em 0em 3em; /* Поля вокруг текста */
    border-radius: 10px; /* Уголки */
    /*сверху справа снизу слева*/
    margin: 20px 0px 50px 40px;
}

.buttom {
    display: block;
    width: 100%;
    height: 20%;
    background: #1e1c1c;
    text-align: left;
    color: white;
    font-weight: bold;
    line-height: 33px;
    text-decoration: none;
    transition: 0.1s linear;
}

.buttom:hover {
    color: #ffe81a; /* Цвет текста */
    background: #3b3939; /* Цвет фона */
}

.HelperBlockbuttom {
    display: contents;
    width: 7%;
    height: 100%;
    background: #1e1c1c;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 93%;
}

.HelperBlockbuttom:hover {
    color: #ffe81a; /* Цвет текста */
}

.ScrollSortHelperBlock {
    background: #1e1c1c;
    border-radius: 10px; /* Уголки */
    /*сверху справа снизу слева*/
    margin: 20px 0px 0px -18px;
    width: 100%;
}
.NameFieldClass {
    display: contents;
    width: 7%;
    height: 100%;
    margin-left: 80%;
    background: #1e1c1c;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 45px;
}
.field-validation-error {
    color: red;
}
.input-validation-error {
    border: 1px solid red;
}