.custom-button-3 {
    color: #fff;
    background-color: #1e1c1c;
    border-color: #3b3939;
}
.custom-button-3:hover {
    color: #ffe81a;
    background-color: #3b3939;
    border-color: #3b3939;
}
@media (min-width: 1360px) {
    #grid {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1vw;
    }
}
@media (max-width: 1359px) and (min-width: 940px) {
    #grid {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1vw;
    }
    
}
@media (max-width: 939px) {
    #grid {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1vw;
    }
}
.custom-button-2 {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #1e1c1c;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.active-btn{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffe81a;
    background-color: #3b3939;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#grid > div {
    padding: 0px;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    font-size: 1.5rem;
    position: relative
}

.source-rate {
    display: flex;
    padding-bottom: 0px;
    padding: 0px;
}

.Icontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 15rem;
    padding: 0;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

.cardInfo {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 5px;
    padding-left: 10px;
    text-align: left;
    height: 10rem;
}

.Articleimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.artycleCard {
    padding: 0px;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    font-size: 1.5rem;
    position: relative;
}
.article-card {
}

.preview {

}

.full {
}

.hidden {
    display: none;
}
.card-text {
    text-align: left;
    font-size: 1rem;
    padding-right: 10px;
}

.card-botton {
    position: relative;
}