@{
    ViewData["Title"] = "Home Page";
}
@using Core.DTOs.Account
@model List<Core.DTOs.Account.UserDto>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - IdentityAut</title>
    <link href="@Url.Content("~/css/admin-menu.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body style="width: 100%;">
    <div style="margin: 0; padding: 0; width: 100%;display: flex">
        <div style="width: 30%;">

            <form asp-controller="Admin" asp-action="NewsAggregator" method="post">
                <button class="custom-button custom-button-2 custom-button-3" type="submit">Агрегировать новости</button>
            </form>

            <a class="custom-button custom-button-2 custom-button-3" asp-controller="Admin" asp-action="UserList" method="get">Получить пользователей</a>

        </div>
        <div>
            <img src="/images/Servant.png" alt="Bootstrap" style="width:100%">
        </div>
    </div>
</body>