@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Project.Abstractions.IUserRepository.UserLoginViewModel;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/AuthoriazedErrors.css" asp-append-version="true" />
</head>
<body>
<form asp-controller="Authorization" method="post" asp-action="Login">
    <div>

        <div asp-validation-summary="All"></div>

        <div>
            <label asp-for="Email">Почта</label><br/>
            <input asp-for="Email"></input>
            <span asp-validation-for="Email" , data-valmsg-replace="false"></span>
        </div>

        <div>
            <label asp-for="Password">Пароль</label><br/>
            <input asp-for="Password"></input>
            <span asp-validation-for="Password" , data-valmsg-replace="false"></span>
        </div>

        <button type="submit">Войти</button>
    </div>
</form>


<div>
<a asp-controller="Authorization" asp-action="Registration" method="get">Регистрация</a>
</div>

    @section scripts{

        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }

</body>
</html>