@using Entities_Context.Entities.Identity
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Net
@inject SignInManager<User> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <title>@ViewData["Title"] - IdentityAut</title>
    <link href="@Url.Content("~/css/Layout.css")" rel="stylesheet" type="text/css"/>
    <script src="@Url.Content("~/js/site.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>

<body id="theme" >
<header id="pageHeader">
    <div class="ScrollSortHelperBlock">

        @if (SignInManager.IsSignedIn(User))
        {
            <script>GetCookieTheme();</script>
            <h type="button" class="NameFieldClass" id="NameField"><script>GetCookieName();</script></h>
            <a type="button" class="HelperBlockbuttom" asp-controller="Settings" asp-action="GetInfoConfig">Настройки</a>
            <a type="button" class="HelperBlockbuttom" asp-controller="Account" asp-action="LogOut">Выйти</a>
        }
        else
        {
            <a type="button" class="HelperBlockbuttom" asp-controller="Account" asp-action="Login" method="get">Вход</a>
        }
            
    </div>
</header>
<article id="mainArticle">
        @RenderBody()
</article>
  
<nav id="mainNav">
    <div class="menu">
        <br>
        <br>
        <a type="button" class="buttom">Поле</a>
        <a type="button" class="buttom">Длинное поле</a>
        <a type="button" class="buttom">Очень длинное поле</a>
    </div>
</nav>
<footer id="pageFooter"></footer>
</body>
</html>
@await RenderSectionAsync("Scripts", required: false)
